@page
@model SteveGLotto.Pages.EuroLSNumbersPages.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>create euro lottery lucky star number</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EuroLSNumbers.EuroLSNumber" class="control-label"></label>
                <input asp-for="EuroLSNumbers.EuroLSNumber" class="form-control" />
                <span asp-validation-for="EuroLSNumbers.EuroLSNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary" asp-page="Index">back to list</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
