@page
@model SteveGLotto.Pages.EuroLSNumbersPages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

    <h2>euro lottery lucky star number</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EuroLSNumbers.EuroLSNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EuroLSNumbers.EuroLSNumber)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning" asp-page="./Edit" asp-route-id="@Model.EuroLSNumbers.EuroLSNumberID">edit</a><br /><br />
    <a class="btn btn-primary" asp-page="./Index">back to list</a>
</div>
