@page
@model SteveGLotto.Pages.EuroNumbersPages.EditModel

@{
}

<h4>EuroNumbers</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EuroNumbers.EuroDrawID" />
            <div class="form-group">
                <label asp-for="EuroNumbers.EuroNumOne" class="control-label"></label>
                <input asp-for="EuroNumbers.EuroNumOne" class="form-control" />
                <span asp-validation-for="EuroNumbers.EuroNumOne" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EuroNumbers.EuroNumTwo" class="control-label"></label>
                <input asp-for="EuroNumbers.EuroNumTwo" class="form-control" />
                <span asp-validation-for="EuroNumbers.EuroNumTwo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EuroNumbers.EuroNumThree" class="control-label"></label>
                <input asp-for="EuroNumbers.EuroNumThree" class="form-control" />
                <span asp-validation-for="EuroNumbers.EuroNumThree" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EuroNumbers.EuroNumFour" class="control-label"></label>
                <input asp-for="EuroNumbers.EuroNumFour" class="form-control" />
                <span asp-validation-for="EuroNumbers.EuroNumFour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EuroNumbers.EuroNumFive" class="control-label"></label>
                <input asp-for="EuroNumbers.EuroNumFive" class="form-control" />
                <span asp-validation-for="EuroNumbers.EuroNumFive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EuroNumbers.EuroNumLSOne" class="control-label"></label>
                <input asp-for="EuroNumbers.EuroNumLSOne" class="form-control" />
                <span asp-validation-for="EuroNumbers.EuroNumLSOne" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EuroNumbers.EuroNumLSTwo" class="control-label"></label>
                <input asp-for="EuroNumbers.EuroNumLSTwo" class="form-control" />
                <span asp-validation-for="EuroNumbers.EuroNumLSTwo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>
