@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="row">
        <div class="col-md-12">
            <h1>random lottery number generator</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2> UK lottery random number generator</h2>
            <a class=" btn-lg btn-primary" href="LottoDrawNumbersPages/Index">UK Lotto Numbers</a>
        </div>
        <div class="col-md-4">
            <h2> Euro lottery random number generator</h2>
            <a class="btn-lg btn-primary" href="EuroDrawNumbersPages/Index">Euro Lotto Numbers</a>
        </div>
        <div class="col-md-4">
            <h2> Euro lottery random number generator</h2>
            <a class="btn-lg btn-primary" href="EuroDrawNumbersPages/Index">Euro Lotto Lucky Star Numbers</a>
        </div>
    </div>
