@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<br /><br />
<div class="row">
    <div class="col-md-12">
        <h1>boobsie lotto</h1>
    </div>
</div>
<hr />
<br />
<div class="row">
    <div class="col-md-12">
        <h2>random lottery number generator</h2>
    </div>
</div>
<br /><br /><br />
<div class="row">
    <div class="col-md-6">
        <h2>uk lottery random number generator</h2>
        <a class=" btn-lg btn-primary" href="LottoDrawNumbersPages/Index">uk lotto numbers</a>
    </div>
    <div class="col-md-6">
        <h2>euro lottery random number generator</h2>
        <a class="btn-lg btn-primary" href="EuroDrawNumbersPages/Index">euro lottery numbers</a>
    </div>
</div>
