@page
@model SteveGLotto.Pages.LottoDrawNumbersPages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>lotto draw number</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LottoDrawNumbers.LottoNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LottoDrawNumbers.LottoNumber)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning" asp-page="./Edit" asp-route-id="@Model.LottoDrawNumbers.LottoNumberID">edit</a><br /><br />
    <a class="btn btn-primary" asp-page="./Index">back to list</a>
</div>
