@page
@model SteveGLotto.Pages.LottoDrawNumbersPages.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>edit lotto draw number</h2>
<br />
<h4>lotto draw number</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LottoDrawNumbers.LottoNumberID" />
            <div class="form-group">
                <label asp-for="LottoDrawNumbers.LottoNumber" class="control-label"></label>
                <input asp-for="LottoDrawNumbers.LottoNumber" class="form-control" />
                <span asp-validation-for="LottoDrawNumbers.LottoNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="save" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary" asp-page="./Index">back to list</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
